<%inherit file="base.html"/>
<%def name="description()">${_('Music Film Comedy helps you decide what to see at a festival with great recommendations and info.')}</%def>
<%def name="title()">${_('Choose Language | The Best Act/Film Recommendations')}</%def>

<div class="page-header"><h1>${_('Choose Language')}<h1></div>

<div class="row">
    <div class="span12">
        <ul class="unstyled">
        % for language in languages:
	        <li>
            <h2><a href="/${language['lang']}/"><h2>${language['display_name']}</a></h2>
	        </li>
        % endfor
        </ul>
    </div>
</div>
