<%inherit file="base.html"/>
<%def name="description()">${_('Music Film Comedy helps you decide what to see at a festival with great recommendations and info.')}</%def>
<%def name="title()">${_('List Festivals By Country | The Best Act/Film Recommendations')}</%def>

<div class="page-header"><h1>${country}<h1></div>

<div class="row">
    <div class="span12">
        <ul class="unstyled">
        % for index, festival in enumerate(festivals):
	        <li>
            <h2><a href="/${lang}/festival/${festival['name'].replace(' ', '_') | u}">${festival['name']}</a></h2>
              <p><strong>${festival['city']} ${festival['state'] or ''} ${festival['country']}</strong></p>
              % if festival['start_date'] and festival['end_date']:
              <p>${festival['start_date'].strftime('%A %d %B %Y')} to ${festival['end_date'].strftime('%A %d %B %Y')}</p>
              % elif festival['start_date']:
              <p>${festival['start_date'].strftime('%A %d %B %Y')}</p>
              % elif festival['approximate_month']:
              <p>${_("We don't have the exact dates yet, but it's usually in %s") % festival['approximate_month']}.</p>
              % endif  
              <p>
                  %if len(festival['description']) > 400:
          		      ${festival['description'][:400].rsplit(' ', 1)[0] + '...'}
                  %else:
                      ${festival['description']}
                  %endif
              </p>
              <p><a class="btn-primary btn" href="/${lang}/festival/${festival['name'].replace(' ', '_') | u}">${_('View details')} &raquo;</a></p>
	        </li>
        % endfor
        </ul>
    </div>
</div>

